
/* Correo electrónico o nombre de usuario */

.main__tittle__h3{
    position: absolute;
    width: 292px;
    height: 20px;
    left: 53px;
    top: 249px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    
    /* Dark 25% */
    
    color: rgba(31, 32, 65, 0.25);
    z-index: 1;
}
/* Contraseña */

.main__tittle__h4{
    position: absolute;
    width: 224.28px;
    height: 20px;
    left: 53px;
    top: 321px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    
    /* Dark 25% */
    
    color: rgba(31, 32, 65, 0.25);
    z-index: 1;
}

/* INICIAR SESIÓN */

.main__sesion{
position: absolute;
width: 150px;
height: 20px;
left: 133px;
top: 460px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;

color: #FFFFFF;}

.main__buttom__sesion{
    position: absolute;
width: 351px;
height: 48px;
left: 30px;
top: 446px;

background: #1ED760;
border-radius: 42px;
}
    /* Para continuar, inicia sesión */
.main_p{
    position: absolute;
    width: 267px;
    height: 16px;
    left: 73px;
    top: 188px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    z-index: 1;
}

/* Recuérdame */

.Main__tittle__h5{
position: absolute;
width: 163px;
height: 22px;
left: 67px;
top: 391px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Dark 50% */
z-index: -1;
color: rgba(31, 32, 65, 0.5);

}

.main__buttom{
    position: absolute;
width: 29.17px;
height: 29.17px;
left: 30px;
top: 387px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}

    /* ¿Has olvidado la contraseña? */
.main_p_2{
position: absolute;
width: 279px;
height: 16px;
left: 66px;
top: 535px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #1ED760;
}

/* ¿No tienes cuenta? Registrate */
.main__lostuser{
position: absolute;
width: 198px;
height: 45px;
left: 107px;
top: 607px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
z-index: -1;
color: rgba(31, 32, 65, 0.5);
}

    /* Mateify */
.main__tittle__h1{
    position: absolute;
    width: 121px;
    height: 64px;
    left: 146px;
    top: 28px;
    
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    
    color: #FFFFFF;

}
#main__fondo{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:-1;
background-image: url(Latin_Festival_-_2017-06-09_-_Angelito_Jusay_1.png);
background-repeat: no-repeat;
}
.main_fondo_color{
    position: absolute;
    width: 411px;
    height: 823px;
    left: 0px;
    top: 0px;
    opacity: default;
    position: absolute;
    width: 411px;
    height: 823px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.85);
    }
.main__rectangle_2{
    position: absolute;
    width: 350.67px;
    height: 57px;
    left: 30.67px;
    top: 303px;
    
    background: #FFFFFF;
    /* Dark 25% */
    
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}

.main__rectangle_usuario{
position: absolute;
width: 350.67px;
height: 57px;
left: 30.67px;
top: 231px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 33px;
}
.main__box_1{
    position: absolute;
width: 393px;
height: 514px;
left: 9px;
top: 165px;

background: #FFFFFF;
border-radius: 5px;
z-index: -2;
}

/* Powered by */

.main__logo_powered{
position: absolute;
width: 138px;
height: 30px;
left: 89px;
top: 756px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
z-index: 1;
color: #FFFFFF;
}
/* Spotify Logo */
.main__logo_spotify{

position: absolute;
width: 111px;
height: 67px;
left: 216px;
top: 737px;
z-index: 1;
background: url(Spotify.png);
}